graphviz==0.20.3
imbalanced-learn==0.12.4
ipykernel==6.29.5
kaleido==0.2.1
lightgbm==4.5.0
matplotlib==3.9.3
numpy==2.2.0
opencv-python==4.10.0.84
optuna==4.1.0
pandas==2.2.3
plotly==5.24.1
polars==1.17.1
pyarrow==18.1.0
scikit-learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
supervision==0.25.0
torch==2.5.1+cu124
torchvision==0.20.1+cu124
ultralytics==8.3.48
xgboost==2.1.3
